<!DOCTYPE html>
<html>
    <body>
        <h3>Hi ${user}, your new account has been created.. </h3>

        <div>
            Your default password is "user" .. please visit xxxxxx and change to your own password.
        </div>
    </body>

</html>
