<!DOCTYPE html>
<html>
    <body>
        <h3>Hi ${user},</h3>

        <div>
            please visit link below and change your password </br>
            <a href="${link}">${link}</a>
        </div>
    </body>

</html>